
.terraform/plugins/darwin_amd64/lock.json
.terraform/plugins/darwin_amd64/terraform-provider-aws_v1.56.0_x4
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate
*.backup
.terraform/plugins/darwin_amd64/terraform-provider-aws_v1.57.0_x4
*.tfstate
*.backup
.DS_Store
